<template>
  <v-form v-model="isFormValid">
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex xs12>
          <h2 class="title">Add Photo</h2>
        </v-flex>
        <v-flex xs12 md6 lg6>
          <v-text-field
              v-model="photo.title"
              :rules="titleRules"
              label="Title"
              required
          ></v-text-field>
          <v-textarea
            solo
            label="Photo Description"
            v-model="photo.description"
          ></v-textarea>
          <v-btn
            color="primary"
            :loading="postingPhoto"
            @click="onPhotoSubmit"
          >Submit Photo</v-btn>
        </v-flex>
        <v-flex xs12 md6 lg6>
          <image-cropper 
            v-model="photo.theData"
            :width="400"
            :height="225"
            :quality="4"
            initial-size="cover"
            accept=".png,.jpeg,.jpg"
            @file-type-mismatch="onFileTypeMismatch"
          ></image-cropper>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
  import Vue from 'vue';
  import gql from 'graphql-tag';
  import Croppa from 'vue-croppa';
  import { mapMutations } from 'vuex'
  Vue.use(Croppa, { componentName: 'image-cropper' });
  export default {
    data: () => ({
      isFormValid: false,
      photo:{
        title:'',
        description:'',
        theData:{}
      },
      postingPhoto:false,
      titleRules: [
        v => !!v || 'Title is required'
      ],
      notification:{
        show: false,
        text:''
      }
    }),
    methods:{
      onPhotoSubmit:function(){
        let vm = this;
        try{
          vm.photo.theData.generateBlob((blob) => {
            if(!vm.photo.theData.hasImage())
              throw "Image Not Selected!";
            vm.postingPhoto = true;
            let bodyFormData = new FormData();
            bodyFormData.set('title', vm.photo.title);
            bodyFormData.set('description', vm.photo.description);
            bodyFormData.set('filename', vm.photo.theData.getChosenFile().name);
            bodyFormData.append('imageFile', blob);

            //Posting File
            vm.$axios({
            method: 'post',
            url: 'photo/insert',
            data: bodyFormData,
            config: { headers: {'Content-Type': 'multipart/form-data' }}
            })
            .then(function (response) {
                vm.postingPhoto = false;
                vm.$router.push("/photo");
            })
            .catch(function (response) {
                vm.postingPhoto = false;
                vm.setNotificationBar(response);
            });

          }, 'image/jpg', 0.5);
        }
        catch(ex){
          vm.setNotificationBar(ex);
        }
      },
      onFileTypeMismatch: function(){
        let vm = this;
        vm.setNotificationBar("Unsupported file type!");
      },
      ...mapMutations({
        setNotificationBar: 'notificationBar/setNotification'
      })
    },
    mounted(){
      
    }
  }
</script>
