<template>
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex lg6 md6 xs12>
            <v-text-field label="Search Photos" v-model="query"></v-text-field>
        </v-flex>
        <v-flex lg6 md6 xs12>
            <v-btn color="primary" @click.native="onSearch" :loading="loadingImages"><v-icon>search</v-icon> Search</v-btn>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
            <v-flex v-for="image in images" :key="image.id" xs2>
                <v-card tile>
                    <v-img
                        :src="image.imageUrl"
                    ></v-img>
                    <v-card-actions>
                        <v-btn @click.native="onImageCopy(image.imageUrl)" flat icon color="primary"><v-icon>file_copy</v-icon></v-btn>
                        <v-btn @click.native="onImageDetails(image.id)" flat icon color="info"><v-icon>details</v-icon></v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import gql from 'graphql-tag';
import { mapMutations } from 'vuex';
import Clipboard from 'v-clipboard';
import Vue from 'vue';
Vue.use(Clipboard)
export default {
    data(){
        return{
            query:'',
            images:[],
            loadingImages:false,
            headers:[
                {"text":"Title","value":"title"},
                {"text":"Date","value":"createdDate"},
            ]
        };
    },
    methods:{
        onSearch: function(){
            let vm = this;
            vm.loadingImages = true;
            try{
                let query = gql `query SearchPhotos($query :String!) {
                    photoRelated {
                        searchPhoto(query: $query){
                            id
                            title
                            createdDate
                            imageUrl
                        }
                    } 
                }`;
                vm.$apollo.query({query, variables:{"query":vm.query}})
                .then(function(result){
                    console.log(result);
                    vm.loadingImages = false;
                    vm.images = result.data.photoRelated.searchPhoto;
                }).catch(function(error){
                    vm.loadingImages = false;
                    vm.setNotificationBar(error);
                });
            }catch(ex){
                vm.loadingImages = false;
                vm.setNotificationBar(ex);
            }
        },
        ...mapMutations({
            setNotificationBar: 'notificationBar/setNotification'
        }),
        onImageCopy: function(imageUrl){
            let vm = this;
            vm.$clipboard(imageUrl);
            vm.setNotificationBar("The Image URL has been Copied!");
        },
        onImageDetails: function(id){
            this.$router.push(`/photo/${id}`);
        }
    }
}
</script>

