<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      :clipped="$vuetify.breakpoint.lgAndUp"
      fixed
      app
    >
      <v-list dense>
        <template v-for="item in items">
          <v-layout
            v-if="item.heading"
            :key="item.heading"
            row
            align-center
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
              @click="handleChildren(child)"
            >
              <v-list-tile-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ child.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else :key="item.text" @click="handleParent(item)">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="blue darken-3"
      dark
      app
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <span class="hidden-sm-and-down">QuCMS</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu open-on-hover offset-y bottom left>
      <v-btn
        slot="activator"
        color="blue darken-3"
        dark
        icon
      >
        <v-icon>account_circle</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile
          v-for="(item, index) in userSelectItems"
          :key="index"
          @click="handleUserSelectItems(item)"
        >
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout>
          <v-flex xs12>
            <nuxt-child></nuxt-child>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content> 
    <v-btn
      fab
      bottom
      right
      color="pink"
      dark
      fixed
      @click="dialog = !dialog"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      dialog: false,
      drawer: null,
      items: [
        { icon: 'home', text: 'Dashboard', to: '/'},
        { 
          icon: 'keyboard_arrow_up', text: 'Posts', 'icon-alt': 'keyboard_arrow_down', 
          children:[
            { icon:'add', text:'Add Post', to:'/post/add'},
            { icon:'list', text:'List All Posts', to:'/post'},
          ]
        },
        { 
          icon: 'keyboard_arrow_up', text: 'Photos', 'icon-alt': 'keyboard_arrow_down', 
          children:[
            { icon:'add', text:'Add Photo', to:'/photo/add'},
            { icon:'search', text:'Search Photos', to:'/photo'},
          ]
        },
        { icon: 'category', text: 'Category', to:'/category' },
      ],
      userSelectItems:[
        {
          title: 'Logout', action:'logout'
        }
      ]
    }),
    props: {
      source: String
    },
    methods:{
      handleChildren: function(child){
        this.$router.push(child.to);
      },
      handleParent: function(parent){
        this.$router.push(parent.to);
      },
      handleUserSelectItems:function(item){
        let vm = this;
        try{
          switch(item.title){
            case 'Logout':
              vm.$auth.logout();
              break;
            default:
              break;
          }
        }
        catch(ex){
          console.log(ex);
        }
      }
    }
  }
</script>