<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>QuCMS Administration</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field v-model="username" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
                  <v-text-field v-model="password" id="password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
                  <p></p>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn :loading="loading" @click="login" color="primary">ENTER THE DRAGON</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      username:'',
      password:'',
      loading: false
    }),
    props: {
      source: String
    },
    methods: {
        async login() {
            this.loading = true;
            try {
                await this.$auth.loginWith('local', {
                    data: {
                        username: this.username,
                        password: this.password
                    }
                });
                this.$router.push('/')
            } catch (e) {
                this.error = e.response.data;
            }
        }
    }
  }
</script>