<template>
  <v-app
    id="inspire"
  >
    <v-navigation-drawer
      v-model="drawer"
      fixed
      clipped
      app
      dark
    >
      <v-layout pl-5 pt-5>
        <v-flex >
          <v-avatar pl-5 :tile="false" :size="200" color="grey lighten-4"
          >
            <img src="/abhi_photo.jpg" alt="avatar">
          </v-avatar>
        </v-flex>
      </v-layout>
      <v-layout pl-5 pt-3>
        <v-flex>
          <v-card flat>
            <v-card-text class="theText">Abhinandan Aryal <br />Software Developer, Dreamer</v-card-text>
            <p class="theText"><v-icon small>arrow_right_alt</v-icon> <nuxt-link to="/">HOME</nuxt-link></p>
            <!-- <p class="theText"><v-icon small>arrow_right_alt</v-icon> <nuxt-link to="/about">ABOUT</nuxt-link></p> -->
            <!-- <p class="theText"><v-icon small>arrow_right_alt</v-icon> <nuxt-link to="/articles">ARTICLES</nuxt-link></p> -->
            <!-- <p class="theText"><v-icon small>arrow_right_alt</v-icon> <nuxt-link to="/contact">CONTACT</nuxt-link></p> -->
            
          </v-card>
        </v-flex>
      </v-layout>
    </v-navigation-drawer>
    <v-toolbar
      color="red"
      dense
      fixed
      clipped-left
      app
      dark
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="mr-5 align-center">
        <span class="title site-title">Programming & Stuffs</span>
      </v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fill-height>
        <v-layout row wrap>
          <v-flex>
            <nuxt />
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<style scoped>
  .theText{ font-family: 'Inconsolata', monospace; }
  .theText a{color: white;}
</style>


<script>
  export default {
    data: () => ({
      drawer: null,
    }),
    props: {
      source: String
    }
  }
</script>
