<template>
  <v-app>
    <notification-bar></notification-bar>
    <fullSizeLoader></fullSizeLoader>
    <nuxt />
  </v-app>
</template>

<script>
import NotificationBar from '../components/notification-bar';
import FullSizeLoader from '../components/fullSizeLoader'
export default {
  components:{NotificationBar, FullSizeLoader}
}
</script>


