<template>
  <v-layout>
    <v-flex>
      <v-card flat v-for="article in theArticles" :key="article.id" class="mb-4 my-card">
        <v-card-title primary-title>
          <div>
            <div class="headline"><nuxt-link class="main-title" :to="`/article/${article.id}/${article.slug}`">{{article.title.toUpperCase()}}</nuxt-link></div><br />
            <span>{{article.excerpt}}</span>
          </div>
        </v-card-title>
        <v-divider v-if="article.tags.length > 0"></v-divider>
        <v-card-actions v-if="article.tags.length > 0">
          <v-btn class="tag-btn" small outline round v-for="tag in article.tags" :key="tag.id">{{tag.name}}</v-btn>
          <v-divider class="ml-1 mr-1" vertical></v-divider>
          <v-flex><h5><strong>{{formatDate(article.publishedDate)}}</strong></h5></v-flex>
        </v-card-actions>
      </v-card>    
    </v-flex>
  </v-layout>
</template>

<style scoped>
  .main-title{ text-decoration: none; color: #424242;}
  .my-card{ border:solid 1px #ddd;}
</style>


<script>
import gql from 'graphql-tag';
import moment from 'moment';

export default {
  async fetch ({ store, params }) {
    try{
      store.commit("article/setAllPosts");
      store.commit("article/setLatestPosts");
    }catch(ex){
    }
  },
  data(){
    return{
    };
  },
  computed:{
    theArticles: function(){
      return this.$store.state.article.latestPosts;
    }
  },
  methods:{
    formatDate: function(date){
      if(date.length > 0)
        return moment(date).format("DD MMM, YYYY");
      else
        return "";
    },
  },
  head () {
    return {
      title: "Abhinandan Aryal's Blog",
      meta: [
        { hid: 'google-site-verification', name:'google-site-verification', content:'t0M6itf_XKrr901hDsW1dQP8dhME3rFGF6cUYjxHCaE'},
        { hid: 'description', name: 'description', content: 'Personal blog of Abhinandan Aryal. Here I post articles related to dot net and other stuffs that I know or am trying to learn.' },
        { hid: 'title', name: 'title', content: 'Home - Abhinandan Aryal'},
        { hid: 'apple-mobile-web-app-title', name: 'apple-mobile-web-app-title', content: 'Abhinandan Aryal\'s Blog' },
        { hid: 'author', name: 'author', content: 'Abhinandan Aryal' },
        //For Facebook
        { hid: 'og:description', property: 'og:description', content: 'Personal blog of Abhinandan Aryal. Here I post articles related to dot net and other stuffs that I know or am trying to learn.'},
        { hid: 'og:title', property: 'og:title', content: 'Home - Abhinandan Aryal'},
        { hid: 'og:url', property: 'og:url', content: `https://abhinandanaryal.info.np`},
        { hid: 'og:type', property: 'og:type', content: `website`},
        //For Twitter
        { hid: 'twitter:description', name: 'twitter:description', content: 'Personal blog of Abhinandan Aryal. Here I post articles related to dot net and other stuffs that I know or am trying to learn.'},
        { hid: 'twitter:title', name: 'twitter:title', content: 'Home - Abhinandan Aryal'},
        { hid: 'twitter:image', name: 'twitter:image', content: 'https://abhinandanaryal.info.np/abhi_photo.jpg' },
      ]
    }
  }
}
</script>

