<template>
  <div class="editor">
    <editor-menu-bar :editor="editor">
      <div class="menubar" slot-scope="{ commands, isActive }">
        <v-btn flat icon color="black" @click.native="showImagePrompt(commands.image)">
            <v-icon>image</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="showEmbedDialog">
            <v-icon>videocam</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.italic">
            <v-icon>format_italic</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.bold" :class="{ 'active-class': isActive.bold() }">
            <v-icon>format_bold</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.strike">
            <v-icon>format_strikethrough</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.underline">
            <v-icon>format_underline</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.code">
            <v-icon>code</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.paragraph">
            P
        </v-btn>
        <v-btn flat icon color="black" @click="commands.heading({ level: 1 })">
            H1
        </v-btn>
        <v-btn flat icon color="black" @click="commands.heading({ level: 2 })">
            H2
        </v-btn>
        <v-btn flat icon color="black" @click="commands.heading({ level: 3 })">
            H3
        </v-btn>
        <v-btn flat icon color="black" @click="commands.bullet_list">
            <v-icon>format_list_bulleted</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.ordered_list">
            <v-icon>format_list_numbered</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.blockquote">
            <v-icon>format_quote</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.code_block">
            <v-icon>space_bar</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.horizontal_rule">
            hr
        </v-btn>
        <v-btn flat icon color="black" @click="commands.undo">
            <v-icon>undo</v-icon>
        </v-btn>
        <v-btn flat icon color="black" @click="commands.redo">
            <v-icon>redo</v-icon>
        </v-btn>
      </div>
    </editor-menu-bar>

    <!-- Editor Menu Bubble Component -->
    <editor-menu-bubble class="menububble" :editor="editor" @hide="hideLinkMenu">
      <div
        slot-scope="{ commands, isActive, getMarkAttrs, menu }"
        class="menububble"
        :class="{ 'is-active': menu.isActive }"
        :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
      >

        <form class="menububble__form" v-if="linkMenuIsActive" @submit.prevent="setLinkUrl(commands.link, linkUrl)">
          <input class="menububble__input" type="text" v-model="linkUrl" placeholder="https://" ref="linkInput" @keydown.esc="hideLinkMenu"/>
          <button class="menububble__button" @click="setLinkUrl(commands.link, null)" type="button">
            <icon name="remove" />
          </button>
        </form>

        <template v-else>
          <button
            class="menububble__button"
            @click="showLinkMenu(getMarkAttrs('link'))"
            :class="{ 'is-active': isActive.link() }"
          >
            <span>{{ isActive.link() ? 'Update Link' : 'Add Link'}}</span>
            <v-icon>link</v-icon>
          </button>
        </template>

      </div>
    </editor-menu-bubble>
    <editor-content class="editor__content" :editor="editor" />
    <v-dialog v-model="dialog" width="500" persistent>
        <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Enter Your Video URL
        </v-card-title>

        <v-layout pa-3>
            <v-flex xs12>
                <v-text-field
                    label="Youtube URL"
                    outline
                    v-model="embedSource"
                ></v-text-field>
            </v-flex>
        </v-layout>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="cancelEmbedDialog"
          >
            Cancel
          </v-btn>
          <v-btn
            color="primary"
            flat
            @click="okEmbedDialog"
          >
            OK
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<style scoped>
  .editor{ overflow: hidden; border:solid 1px #ddd; padding: 10px;}
  .editor__content{ padding: 5px; min-height: 250px;}
  .menubar{ background-color: #efefef; margin-bottom: 10px;}
  .ProseMirror {padding: 5px;}
</style>


<script>
// import Icon from './icon'
import { mapMutations } from 'vuex'
import javascript from 'highlight.js/lib/languages/javascript'
import css from 'highlight.js/lib/languages/css'
import { Editor, EditorContent, EditorMenuBar, EditorMenuBubble } from 'tiptap'
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
  Image,
  CodeBlockHighlight
} from 'tiptap-extensions'
import Iframe from './iframe'

export default {
  components: {
    EditorContent,
    EditorMenuBar,
    EditorMenuBubble
  },
  data() {
    return {
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Bold(),
          new Code(),
          new Italic(),
          new Link(),
          new Strike(),
          new Underline(),
          new History(),
          new Iframe(),
          new Image(),
          new CodeBlockHighlight({
            languages: {
              javascript,
              css,
            },
          })
        ],
        onUpdate: ({ getJSON, getHTML }) => {
          this.setJsonContent(getJSON());
          this.setHtmlContent(getHTML());
        },
      }),
      linkUrl: null,
      linkMenuIsActive: false,
      dialog:false,
      embedSource:'',
    }
  },
  props:{
    passedHtml:{
      type: String
    },
    passedJson:{
      type:String
    }
  },
  watch: { 
    passedHtml: function(newVal, oldVal) { // watch it
      this.editor.setContent(newVal);
      this.setHtmlContent(newVal);
    },
    passedJson: function(newVal, oldVal) { // watch it
      this.setJsonContent(newVal);
    }
  },
  methods: {
    showImagePrompt: function(command) {
      const src = prompt('Enter the url of your image here')
      if (src !== null) {
        command({ src })
      }
    },
    showEmbedDialog(){
        let vm = this;
        this.dialog = true;
    },
    cancelEmbedDialog: function(){
        let vm = this;
        this.dialog = false;
        this.iframeSource = '';
    },
    okEmbedDialog: function(){
        let vm = this;
        console.log(vm.embedSource);
        let theVideoId = vm.parseYoutubeURL(this.embedSource);
        console.log(theVideoId);
        var content = vm.editor.getHTML();
        if(theVideoId){
            vm.editor.setContent(`${content}<iframe src="https://www.youtube.com/embed/${theVideoId}" allowfullscreen></iframe>`);
        }
        vm.embedSource = '';
        vm.dialog = false;
        console.log(vm.editor.getHTML());
        console.log(vm.editor.getJSON());
    },
    parseYoutubeURL: function(url){
        try{
            if(!url)
                throw "Empty URL!";
            var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
            var match = url.match(regExp);
            return (match&&match[7].length==11)? match[7] : false;
        }catch(ex){
            console.log(ex);
        }
    },
    showLinkMenu(attrs) {
      this.linkUrl = attrs.href
      this.linkMenuIsActive = true
      this.$nextTick(() => {
        this.$refs.linkInput.focus()
      })
    },
    hideLinkMenu() {
      this.linkUrl = null
      this.linkMenuIsActive = false
    },
    setLinkUrl(command, url) {
      command({ href: url })
      this.hideLinkMenu()
      this.editor.focus()
    },
    ...mapMutations({
      setJsonContent: 'editor/setJsonContent',
      setHtmlContent: 'editor/setHtmlContent',
    })
  }
}
</script>