<template>
  <v-layout row justify-center>
    <v-dialog v-model="show" persistent content content-class="centered-dialog">
      <v-container fill-height>
        <v-layout column justify-center align-center>
          <v-progress-circular indeterminate :size="70" :width="7" :color="progressColor"></v-progress-circular>
          <h1 v-if="message != null">{{message}}</h1>
        </v-layout>
      </v-container>
    </v-dialog>
  </v-layout>
</template>

<script>
    export default {
        name: "FullSizeLoader",
        data: function () {
            return {
                show:false,
                message:'',
                progressColor:'purple'
            }
        },
        created: function () {
            this.$store.watch(state => state.fullSizeLoader.message, () => {
                const msg = this.$store.state.fullSizeLoader.message
                if (msg !== '') {
                  this.show = true;
                  this.message = this.$store.state.fullSizeLoader.message;
                  this.$store.commit('fullSizeLoader/setMessage', '');
                  this.progressColor = this.$store.state.fullSizeLoader.progressColor;
                  this.$store.commit('fullSizeLoader/setProgressColor', '');
                }else{
                  this.show = false;
                }
            })
        }
    }
</script>

<style>
  .dialog.centered-dialog,
  .v-dialog.centered-dialog
 {
    background: #282c2dad;
    box-shadow: none;
    border-radius: 6px;
    width: auto;
    color: whitesmoke;
  }
</style>