<template>
    <v-snackbar v-model="show" color="secondary" :timeout="3000">
    {{message}}
    <v-btn flat color="accent" @click.native="show = false">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
    name:'notification-bar',
    data(){
      return{
        show:false,
        message:''
      };
    },
    created: function () {
      this.$store.watch(state => state.notificationBar.notification, () => {
        const msg = this.$store.state.notificationBar.notification
        if (msg !== '') {
          this.show = true
          this.message = this.$store.state.notificationBar.notification
          this.$store.commit('notificationBar/setNotification', '')
        }
      })
    }
}
</script>

