<template>
  <v-form ref="postForm" v-model="isFormValid">
    <v-container grid-list-lg>
      <v-layout row wrap>
        <v-flex xs12>
          <h2 class="title">Add Post</h2>
        </v-flex>
        <v-flex xs12 md6 lg6>
          <v-text-field
              v-model="post.title"
              :rules="titleRules"
              label="Title"
              required
              :hint="post.slug"
              @keyup="onTitleChange"
              persistent-hint
              counter
              maxlength="60"
          ></v-text-field>
          <v-combobox
            v-model="post.category"
            :items="categories"
            label="Select Category"
            item-text="name"
            :rules="categoryRules"
          ></v-combobox>
          <v-combobox
            v-model="post.difficultyLevel"
            :items="difficultyLevels"
            label="Select Difficulty Level"
            item-text="name"
            :rules="difficultyLevelRules"
          ></v-combobox>
          <v-select
            v-model="post.authors"
            :items="authors"
            :menu-props="{ maxHeight: '400' }"
            label="Select Authors"
            multiple
            chips
            deletable-chips
            item-text="name"
            return-object
          ></v-select>
          <v-combobox
            v-model="post.tags"
            :loading="loadingTags"
            :items="tags"
            :search-input.sync="searchTags"
            cache-items
            label="Select Tags"
            item-text="name"
            multiple
            chips
            deletable-chips
            @change="onTagsChange"
            return-object
            no-data-text="Type to begin Search!"
            dense
          ></v-combobox>
        </v-flex>
        <v-flex xs12 md6 lg6>
          <h3>Publish Date</h3>
          <v-date-picker v-model="post.publishedDate" :landscape="true"></v-date-picker>
        </v-flex>
        <v-flex xs12>
          <queditor></queditor>
        </v-flex>
        <v-flex xs12 md6 lg6>
          <v-textarea
            v-model="post.metaDescription"
            label="Meta Description"
            counter
            maxlength="160"
            box
          ></v-textarea>
        </v-flex>
        <v-flex xs12 md6 lg6>
          <v-textarea
            v-model="post.excerpt"
            label="Post Excerpt"
            counter
            maxlength="250"
            box
          ></v-textarea>
        </v-flex>
        <v-btn color="primary" @click="submitPost">
          <v-icon small left>save</v-icon> Submit Post
        </v-btn>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
  import { mapMutations } from 'vuex'
  import gql from 'graphql-tag'
  import queditor from '../../../components/editor'
  export default {
    components:{queditor},
    data: () => ({
      isFormValid: false,
      post:{
        title:'',
        category:'',
        publishedDate:new Date().toISOString().substr(0, 10),
        difficultyLevel:'',
        authors:[],
        tags:[],
        slug:'',
        metaDescription:'',
        excerpt:''
      },
      titleRules: [
        v => !!v || 'Title is required'
      ],
      categoryRules: [
        v => !!v || 'Category is required'
      ],
      difficultyLevelRules: [
        v => !!v || 'Difficulty Level is required'
      ],
      categories:[],
      difficultyLevels:[],
      authors:[],
      tags:[],
      searchTags:null,
      loadingTags: false
    }),
    watch: {
      searchTags (val) {
        let vm = this;
        val && val !== vm.post.selectedTags && vm.querySelections(val);
      }
    },
    methods:{
      fetchAllCategories : async function(){
        let vm = this;
        let query = gql `query AllCategories {
          categoryRelated {
              categories{
                name
                id
              }
            } 
          }`;
        await vm.$apollo.query({query})
          .then(function(result){
            vm.categories = result.data.categoryRelated.categories;
          }).catch(function(error){
            console.log(error);
          })
      },
      fetchAllDifficultyLevels : async function(){
        let vm = this;
        let query = gql `query AllDifficultyLevels {
          difficultyLevelRelated {
              difficultyLevels{
                name
                id
              }
            } 
          }`;
        await vm.$apollo.query({query})
          .then(function(result){
            vm.difficultyLevels = result.data.difficultyLevelRelated.difficultyLevels;
          }).catch(function(error){
            console.log(error);
          })
      },
      fetchAllAuthors : async function(){
        let vm = this;
        let query = gql `query AllAuthors {
          authorRelated {
              authors{
                name
                id
              }
            } 
          }`;
        await vm.$apollo.query({query})
          .then(function(result){
            vm.authors = result.data.authorRelated.authors;
          }).catch(function(error){
            console.log(error);
          })
      },
      querySelections (v) {
        let vm = this;
        let query = gql `query SearchTags($name:String!) {
          tagRelated {
            searchTag(name: $name){
              id
              name
            }
          } 
        }`;
        vm.$apollo.query({query, variables:{"name":v}})
          .then(function(result){
            //console.log(result);
            vm.tags = result.data.tagRelated.searchTag;
          }).catch(function(error){
            console.log(error);
          })
      },
      onTagsChange: function(val){
        //console.log("fired");
        //console.log(this.post);
      },
      onTitleChange: function(){
        let vm = this;
        vm.post.slug = 
          vm.post.title.replace(/^[a-zA-Z0-9_.-]*$/g, "").replace(/ +(?= )/g,'').replace(/ /g,'-').toLowerCase();
      },
      submitPost: function(){
        let vm = this;
        vm.checkForSlug(vm.post.title);
        if(vm.$refs.postForm.validate()){
          vm.post.htmlContent = vm.$store.state.editor.htmlContent;
          vm.post.jsonContent = vm.$store.state.editor.jsonContent;
          //console.log(vm.post);
          if(vm.$store.state.editor.htmlContent.length == 0){
            vm.setNotification("No Content to post!");
            return;
          }
            
          try{
            let tempCat = {"id": vm.post.category.id};
            let tempDL = {"id": vm.post.difficultyLevel.id};
            let tempAuthors = [];
            let tempTags = [];
            let tempMetas = [{"name":"description","content": vm.post.metaDescription}]

            if(vm.post.authors.length > 0){
                vm.post.authors.forEach(function(item){
                  let tempAuthor = {};
                  tempAuthor.id = item.id;
                  tempAuthors.push(tempAuthor);
                });
            }

            vm.post.tags.forEach(function(item){
              let tempTag = {};
              tempTag.id = item.id;
              tempTags.push(tempTag);
            });

            let mutation = gql `mutation InsertPost($post :PostInput!) {
              postRelated{
                insertPost(post: $post){
                  title
                  id
                }
              }
            }`;
            vm.$apollo.mutate({mutation,
              variables:{
                "post":{
                  "title":`${vm.post.title}`,
                  "slug":`${vm.post.slug}`,
                  "excerpt":`${vm.post.excerpt}`,
                  "htmlContent":`${vm.$store.state.editor.htmlContent}`,
                  "jsonContent":`${JSON.stringify(vm.$store.state.editor.jsonContent)}`,
                  "publishedDate": `${vm.post.publishedDate}`,
                  "category": tempCat,
                  "difficultyLevel": tempDL,
                  "authors": tempAuthors,
                  "tags":tempTags,
                  "metas": tempMetas
                }
              }
            })
              .then(function(result){
                vm.setMessage('');
                vm.$router.push("/post");
              }).catch(function(error){
                vm.setMessage('');
                vm.setNotification(`Oops! Some Error Occured!`);
              })
          }
          catch(ex){
            vm.setMessage('');
            vm.setNotification(ex);
          }
        }
      },
      checkForSlug: async function(slug){
        let vm = this;
        try{
          let query = gql `query CheckForSlug($slug : String!) {
          postRelated {
                checkForSlug(slug:$slug)
              } 
            }`;
          await vm.$apollo.query({query, variables:{"slug":this.post.slug}})
            .then(function(result){
              if(result.data.postRelated.checkForSlug){
                vm.setNotification("This slug is not unique!");
                return;
              }
            }).catch(function(error){
              console.log(error);
            })
        }
        catch(ex){
          vm.setNotification(ex);
        }
      },
      ...mapMutations({
        setNotification: 'notificationBar/setNotification',
        setMessage: 'fullSizeLoader/setMessage',
        setProgressColor: 'fullSizeLoader/setProgressColor',
      })
    },
    mounted(){
      let vm = this;
      vm.fetchAllCategories();
      vm.fetchAllDifficultyLevels();
      vm.fetchAllAuthors();
    }
  }
</script>
