<template>
    <v-layout row wrap>
        <v-flex lg12 xs12>
            <v-data-table :headers="headers" :items="posts" class="elevation-1">
                <template v-slot:items="props">
                    <td>{{ props.item.title }}</td>
                    <td>{{ props.item.publishedDate }}</td>
                    <td>{{ props.item.category.name }}</td>
                    <td>
                        <v-btn @click="editPost(props.item)" color="blue" fab small outline class="my-btn">
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-btn color="primary" fab small outline class="my-btn">
                            <v-icon>clear</v-icon>
                        </v-btn>
                    </td>
                </template>
            </v-data-table>
        </v-flex>
    </v-layout>
</template>

<style scoped>
    .my-btn{ height: 30px; width: 30px;}
</style>


<script>
import gql from 'graphql-tag'
export default {
    data(){
        return{
            headers: [
                {
                    text: 'Title',
                    align: 'left',
                    sortable: false,
                    value: 'title'
                },
                { text: 'Published Date', value: 'publishedDate', sortable:false },
                { text: 'Category', value: 'category.name', sortable:false },
                { text: '', value: '', sortable: false },
            ],
            posts:[]
        };
    },
    methods:{
        getPosts: function(){
            let vm = this;
            vm.postDataLoading = true;
            let query = gql `query AllPosts{
                postRelated{
                    posts{
                        id
                        title
                        publishedDate
                        category{
                            name
                        }
                    }
                }
            }`;
            vm.$apollo.query({query})
            .then(function(result){
                //console.log(result);
                vm.posts = result.data.postRelated.posts;
            }).catch(function(error){
                console.log(error);
            })
        },
        editPost: function(item){
            let vm = this;
            vm.$router.push(`/post/edit/${item.id}`);
        }
    },
    mounted(){
        let vm = this;
        vm.getPosts();
    }
}
</script>
