<template>
    <v-layout>
        <v-flex xs12>
            <v-card flat>
                <v-layout>
                    <v-flex xs12 px-4>
                        <h1>{{post.title}}</h1>
                        <div>
                            <span mb-0>{{formatDate(post.publishedDate)}} | </span>
                            <span mb-0>{{post.difficultyLevel.name}} | </span>
                            <span v-for="(tag, index) in post.tags" :key="tag.id">
                                <span v-if="index != post.tags.length - 1">{{tag.name}}, </span> 
                                <span v-if="index == post.tags.length - 1">{{tag.name}}</span>
                            </span>
                        </div>
                        <v-divider></v-divider>
                        <v-flex pt-2>
                            <div ref="content" v-html="post.htmlContent"></div>
                        </v-flex>
                    </v-flex>
                </v-layout>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import gql from 'graphql-tag';
import moment from 'moment';
import hljs from 'highlight.js';
export default {
    head () {
        return {
            link: [
                { rel: 'stylesheet', href: '../../../highlight.min.css' },
                { rel: 'canonical', href: `https://abhinandanaryal.info.np/${this.postId}/${this.postSlug}` },
            ],
            title: this.post.title + ' - Abhinandan Aryal',
            meta: [
                { hid: 'description', name: 'description', content: this.metaDescription},
                { hid: 'title', name: 'title', content: this.post.title + ' - Abhinandan Aryal'},
                { hid: 'apple-mobile-web-app-title', name: 'apple-mobile-web-app-title', content: 'Abhinandan Aryal\'s Blog' },
                { hid: 'author', name: 'author', content: 'Abhinandan Aryal' },
                //For Facebook
                { hid: 'og:description', name: 'og:description', content: this.metaDescription},
                { hid: 'og:title', name: 'og:title', content: this.post.title + ' - Abhinandan Aryal'},
                { hid: 'og:url', name: 'og:url', content: `https://abhinandanaryal.info.np/${this.postId}/${this.postSlug}`},
                { hid: 'og:type', name: 'og:type', content: `article`},
                //For Twitter
                { hid: 'twitter:description', name: 'twitter:description', content: this.metaDescription},
                { hid: 'twitter:title', name: 'twitter:title', content: this.post.title + ' - Abhinandan Aryal'}
            ]
        }
    },
    async fetch ({store, params}) {
        if(store.state.article.allPosts.length == 0){
            store.commit("article/setAllPosts");
        }
        store.commit("article/setPost", params.id);
    },
    data(){
        return{
            postId:0,
            postSlug:''
        };
    },
    methods:{
        formatDate: function(date){
            if(date.length > 0)
                return moment(date).format("DD MMM, YYYY");
        }
    },
    computed:{
        post: function(){
            return this.$store.state.article.post;
        },
        metaDescription: function(){
            return this.$store.state.article.post.metas.find(meta => meta.name === 'description').content;
        }
    },
    updated(){
        var aCodes = document.getElementsByTagName('code');
        for (var i=0; i < aCodes.length; i++) {
            hljs.highlightBlock(aCodes[i]);
        }
    },
    created(){
        this.postId = this.$route.params.id;
        this.postSlug = this.$route.params.slug;
    },
    mounted(){
        var aCodes = document.getElementsByTagName('code');
        for (var i=0; i < aCodes.length; i++) {
            hljs.highlightBlock(aCodes[i]);
        }
    }
}
</script>

